*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
    
a{
    text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    .text-center{
        text-align: center;
    }
    .container{
        width: 100%;
        margin: 0 auto;
        background-color: #131e29;
    }
.row{
    width: 1480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
#menu .menubar li{
    display: inline-block;
}
#menu .menubar li a .home{
    color: #4bcaff;
}
#menu .menubar li a{
    display: block;
    padding:10px ;
    color: #fff;
    text-transform: uppercase; 
    transition: all 0.2s linear; 
    border-radius: 15%;
}
#menu .menubar li a:hover{
    background-color: burlywood;
}
.logo_section{
    width: 40%;
    align-items: center;
}
.menubar{
    width: 60%;
}
.banner_section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 45%;
}
.content{
    width: 55%;
}
.button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.button .download{
    padding: 20px;

}
.button .learn{
    padding: 20px;
    margin: 20px;
    background-color: #4bcaff;
    border-radius: 12%;
}
.mini_banner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}
.mini_item1{
    margin:20px;
    padding: 20px;
    background-color: black;
    border-radius: 100%;
}
.mini_item2{
    margin:30px;
    padding: 20px;
    background-color: black;
    border-radius: 100%;

}
.banner_section{
    background-image: url(../image/background-banner.png);
}
#gallery{
    background-color: #f9f9f9;
}
.gallery-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    padding: 52PX;
    
}
.gallery-up-item h2{
    padding-top: 52px;
}
#gallery .g-item_1 img{
    background-color: #4bcaff;
    padding:50px ;
    border-radius: 100px;
    text-align: center;

}
#gallery .g-item_1 h4{
    size: 15px;

}
#gallery .g-item_1 p{
    font-size: 12px;
    width: 218PX;
}

.show-gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;


}
.s-g-1{
    padding: 10px;
}
.s-g-1 p{
    font-size: 12px;
    width: 218PX;
}
#action .action-1{
    text-align: center;
    background-color: #4bcaff;
    background-image: url(../image/service-overlay-60%.png);
    opacity: ;
}
#action .action-1 h2{
color:#fff;
padding-top: 50px;

}
#action .action-1 p{
    color:#fff;
    padding-bottom: 200px;
    margin-top: 30px;
    margin: 0 auto;


}
#prize-section .prize-image{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin:0 auto;

}
#prize-section .prize-image img{
    padding: 50px;

}
.testimonial-image{
    display:flex;
    flex-wrap: wrap;
 
}
.black-section{
    background-color: #414042;
    padding: 10px
}
.black-section h2{
    font-size: 18px;
    padding: 15px;
    color: #fff;
   
}
.black-section button{
    color:#414042;
    background-color: #4bcaff;
    padding: 20px;
    border-radius: 10%;
}
.form{
    display: inline;
}
.footer-1{
    width: 100%;
    background-color: #131e29 ;
}
.footer-section{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin:0 auto;
    width: 80%;
    padding: 20px;
   
}
.foot-div-1{
    align-items: left;
}
.foot-div-2{
    align-items: right;
}
.footer-section p{
    color: #646365;
}